.container {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 0px 0.4px 0px #000;
}

.pointer {
  cursor: pointer;
}

body {
  min-height: 100vh;
}

main {
  height: 100%;
}


header .navbar-nav>li>a {
 padding: 0px 5px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background: none;
}

html .nav>li>a:focus, html .nav>li>a:hover {
  text-decoration: underline;
  background: none;
}

.flex {
  display: flex;
}
.flex-item span {
  width: 90%;
}

.icon-header {
  display:none;
}

.isOk .icon-header {
 padding: 2px 5px;
 border-radius: 10px;
 height: 24px;
 text-align: center;
 color: green;
 width: 24px;
 margin-top: -3px;
 display: block;
}

.isOk .panel-heading {
  border: 0.5px solid #07b9078f !important;
  background: #ffffff;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.desktop.desktopInline {
  display: inline-block;
}

.center {
	max-width: 1000px;
	margin: auto;
}
.center-1 {
  max-width: 820px;
  margin: auto;
}

body {
  background: #dedede;
}

.etapa {
  text-align: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 7px 28px;
  background: #cccccca3;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px #000;
}

.etapa.active {
  background: green;
  color: #fff;
  position: relative;
  z-index: 9;
  box-shadow: 0px 0px 2px 0px #000;
}

.etapa:before {
  content: '';
  width: 30px;
  height: 10px;
  background: #dedede;
  position: absolute;
  left: -29.6px;
}

.etapa:after {
  content: '';
  width: 33px;
  height: 10px;
  background: #dedede;
  position: absolute;
  right: -30.6px;
}

.etapa.active:before,.etapa.active:after {
  background: green;
}

.etapas {
  text-align: center;
  min-height: 103px;
}

.etapa .text-etapa{
  position: absolute;
  top: 60px;
  color: #000;
  font-size: 12px;
}

span.number-etapa {
  color: #a9a7a7;
}

.active span.number-etapa {
  color: #fff;
}
td.actions i {
  font-size: 18px;
}

td.actions {
  text-align: center;
}

.border1 {
  border: 1px solid #cccccc;
  border-radius: 11px;
}

.row.graphics {
  margin-top: -14px;
  max-width: 900px;
  margin: auto;
}

footer {
  padding-top: 40px;
  position: relative;
  bottom: 0px;
  width: 100%;
}

.absolute {
  position: absolute;
}

footer a {
  color: #485a6d;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}

footer ul {
  margin-right: 90px;
  display: inline-block;
  float: left;
}

footer .copyright {
  float: left;
  width: 100%;
  margin: 20px 0px;
  color: #485a6d;
}

footer a:hover {
  text-decoration: underline;
}


.skf-footer {
  display: block;
  width: 100%;
  color: #fff;
  height: calc(1.6rem + 40px);
  position: relative;
  z-index: 30;
  float: left;
}

.skf-footer .skf-logo {
  width: 100%;
  height: calc(1.6rem + 40px);
  background-image: url(../img/logo_skf_cf.svg);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: bottom;
  position: relative;
}

.skf-footer .skf-logo::before {
  display: block;
  content: " ";
  width: 100%;
  height: calc(1.6rem + 40px);
  background-image: url(../img/logo_skf_lf.svg);
  background-repeat: no-repeat;
  float: left;
  background-size: contain;
  background-position: bottom left;
  position: absolute;
  top: 0px;
  left: 0px;
}

.skf-footer .skf-logo::after {
  display: block;
  content: " ";
  width: 100%;
  height: calc(1.6rem + 40px);
  background-image: url(../img/logo_skf_rf.svg);
  background-repeat: no-repeat;
  float: right;
  background-size: contain;
  background-position: bottom right;
  position: absolute;
  top: 0px;
  left: 0px;
}


img.supergraph {
  width: auto;
  height: 56px;
}

div#topheader #site-header {
  background: #0f58d6;
  height: 21px;
}

div#topheader {
  margin-bottom: 43px;
}

#topheader .supergraph-border {
  position: absolute;
  top: 0;
  right: 0;
  height: 20.5px;
  border-right: 24px solid #f00;
  border-left: 2px solid #fff;
}

div#loader {
  text-align: right;
  padding: 20px;
  position: fixed;
  right: 0px;
  color: #0f58d6;
  z-index: 99999;
  display: none;
}

.user-info {
  position: relative;
  z-index: 99999;
  color: #fff;
  text-align: right;
  width: 100%;
  height: 22px;
  margin-bottom: -22px;
  padding-right: 29px;
}

.user-info > div {max-width: 1156px;margin: auto;}

.user-info a {
  color: #fff;
}

button.badge {
  border: none;
}

.panel-default .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.disabledTab {
  pointer-events: none;
}

.locked {
  opacity: 0.4;
  pointer-events: none;
}

.bts .btn {
  margin-left: 10px;
}
.pointer {
  cursor: pointer;
}

.scroll {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #dedede;
}

.filter {
  background: #cccccc6b;
  padding: 13px;
  margin-bottom: 20px;
}

.table-estilo-1 {
  max-height: 400px;
}

li.list-group-item.active i {
  color: #fff;
}

span.version {
  color: #fff;
  position: absolute;
  bottom: 3px;
  left: 25px;
  font-size: 10px;
  z-index: 1;
}

/*animate*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media (print), (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}


@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.heartBeat {
  -webkit-animation-name: heartBeat;
  animation-name: heartBeat;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}



/*animate*/

.toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
  display: none;
}

input.toggle + label {
  display: inline-block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  text-indent: -5000px;
  height: 28px;
  width: 50px;
  border-radius: 15px;
  margin-bottom: 0;
}

.form-group input.toggle + label {
  display: block;
}

.toggle:checked + label:before {
  width: 50px;
  background: rgba(19,191,17,1);
}

.toggle + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 28px;
  width: 28px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(19,191,17,0);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.toggle:checked + label:after {
  left: 22px;
  box-shadow: inset 0 0 0 1px rgba(19,191,17,1), 0 2px 4px rgba(0,0,0,.2);
}

.toggle + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 28px;
  width: 28px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/*---------------------------------------------------*/
@media only screen and (max-width:768px) {


  html .mobile {
    display: block  !important;
  }
  html .mobile.mobileInline {
    display: inline-block  !important;
  }

  html .desktop {
    display: none !important;
  }


  .nav>li {
    display: inline-block;
  }

  ul.nav.navbar-nav.navbar-right {
    margin: 0px;
  }

  h1.text-center {
    font-size: 22px;
  }
}